*{
    margin:0;
    padding:0;
}

h1{
    background-color:#081b31;
    color:white;
    height:5rem;
    text-align:center;
    line-height:5rem;

}


.choice{
    height:165px;
    width:165px;
    border-radius:150%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.choice:hover{
    cursor:pointer;
    background-color:#081b31;
}

img{
   height:150px;
   width:150px; 
   object-fit:cover;
   border-radius:50%;
}

.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
    margin-top:4rem;
}

.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    margin-top:3rem;
    gap:5rem;
}

.msg-container{
    margin-top:2rem;
    text-size-adjust:20%;
    
    
}

#msg{
    margin-top:2rem;
    display:flex;
    justify-content:center;
    background-color:#081b31;
    color:white;
    font-size:2rem;
    display:inline; 
    margin-left: 43%; 
    padding:0.5rem;
    border-radius:0.5rem;
    font-size:25px;   
    
}


#user-score,
#comp-score{
    font-size:4rem;
}